body {
	position: relative;
	font-family: 'Helvetica Neue';
	height: 100%;
	margin: 0;
	padding: 0;
}
.article-page {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	padding: 20px;
/*	padding: 10px;*/
/*	margin-right: 50%;*/
}

/*.byline {

}*/